.reset-page {

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    background:
        radial-gradient(circle at top, #1e293b, #020617 70%);

}

.reset-card {

    width: 100%;

    max-width: 460px;

    background: rgba(15, 23, 42, .75);

    backdrop-filter: blur(18px);

    border-radius: 22px;

    border: 1px solid rgba(255, 255, 255, .08);

    padding: 35px;

    color: white;

    transition: .4s;

    box-shadow:
        0 0 20px rgba(0, 255, 255, .15),
        0 0 50px rgba(0, 255, 255, .08);

}

.reset-card:hover {

    transform: translateY(-5px);

    box-shadow:
        0 0 25px cyan,
        0 0 70px rgba(0, 255, 255, .2);

}

.reset-title {

    text-align: center;

    margin-bottom: 30px;

    color: white;

    font-weight: 700;

    text-shadow:
        0 0 5px cyan,
        0 0 15px cyan;

}

.input-box {

    display: flex;

    align-items: center;

    background: #0f172a;

    border: 1px solid #334155;

    margin-bottom: 18px;

    border-radius: 12px;

    overflow: hidden;

}

.input-box svg {

    width: 55px;

    color: cyan;

    text-align: center;

}

.input-box input {

    flex: 1;

    border: none;

    outline: none;

    background: transparent;

    color: white;

    padding: 14px;

}

.input-box input::placeholder {

    color: #94a3b8;

}

.input-box:focus-within {

    border-color: cyan;

    box-shadow:
        0 0 10px cyan,
        0 0 20px rgba(0, 255, 255, .3);

}

.reset-btn {

    width: 100%;

    padding: 13px;

    border: none;

    border-radius: 12px;

    font-weight: 600;

    color: white;

    background:
        linear-gradient(90deg, #00c6ff, #0072ff);

    transition: .3s;

    box-shadow:
        0 0 18px rgba(0, 191, 255, .45);

}

.reset-btn:hover {

    transform: translateY(-2px);

    box-shadow:
        0 0 20px cyan,
        0 0 35px cyan;

}

@media(max-width:768px) {

    .reset-card {

        max-width: 420px;

        padding: 30px;

    }

}

@media(max-width:576px) {

    .reset-card {

        padding: 22px;

        border-radius: 16px;

    }

    .reset-title {

        font-size: 1.8rem;

    }

    .input-box input {

        padding: 12px;

        font-size: 15px;

    }

}